
<%= simple_form_for([@user,@day], :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.input :day ,:input_html => { :value => DateTime.now.to_date-1  } %>
    <%= f.input :fajer, :collection => ['kada2', '7ader', 'gama3ah','masged'] %>
    <%= f.input :zuhr, :collection => ['kada2', '7ader', 'gama3ah','masged'] %>
    <%= f.input :asr, :collection => ['kada2', '7ader', 'gama3ah','masged'] %>
    <%= f.input :maghrib, :collection => ['kada2', '7ader', 'gama3ah','masged'] %>
    <%= f.input :isha, :collection => ['kada2', '7ader', 'gama3ah','masged'] %>
    <%= f.input :sonan , :collection =>  [0,2, 4, 6,8,10,12,13,15]%>
    <%= f.input :qeyam , :collection => ['rob3een', '7ezb', 'juz2','more than juz2'] %>
    <%= f.input :quranQuantity, :collection => ['rob3een', '7ezb', 'juz2','2 Juz2','3 Juz2','4 Juz2'] %>
    <%= f.input :reading,:as => :radio_buttons %>
    <%= f.input :seyam,:as => :radio_buttons %>
    <%= f.input :comments%>
    
 
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>