<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @day.day %>
</p>

<p>
  <b>Fajer:</b>
  <%= @day.fajer %>
</p>

<p>
  <b>Zuhr:</b>
  <%= @day.zuhr %>
</p>

<p>
  <b>Asr:</b>
  <%= @day.asr %>
</p>

<p>
  <b>Maghrib:</b>
  <%= @day.maghrib %>
</p>

<p>
  <b>Isha:</b>
  <%= @day.isha %>
</p>

<p>
  <b>Quran:</b>
  <%= @day.quran %>
</p>

<p>
  <b>Reading:</b>
  <%= @day.reading %>
</p>

<p>
  <b>Sonan:</b>
  <%= @day.sonan %>
</p>

<p>
  <b>Seyam:</b>
  <%= @day.seyam %>
</p>

<p>
  <b>Qeyam:</b>
  <%= @day.qeyam %>
</p>

<p>
  <b>Quranquantity:</b>
  <%= @day.quranQuantity %>
</p>


<%= link_to 'Edit', edit_user_day_path(@user) %> |
<%= link_to 'Back', user_days_path(@user) %>
